<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I'm a computer science student with profound interest in computers, web development and front-end technologies.
    I'm looking forward to join a workforce as a computer professional upon graduation, meet new people and learn as much as I can from them..</p>
    <p>I enjoy investing my free time working in side projects, polishing my programming skills and learning new technologies.</p>
</div><!--//summary-->
</section><!--//section-->
