<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I`m a computer science student at University of Granada.
     I have a profound interest in computers, web development, front-end technologies. Can`t wait to join a workforce as a computer professional upon
     graduation, meet new people and learn as much as i can from them.</p>
    <p>
     I try to invest my free time in side projects, polish my programming skills and learning new technologies.</p>
    </p>
</div><!--//summary-->
</section><!--//section-->
