<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
  <h4 class="degree">Computer Science</h4>
  <h5 class="meta">University of Granada UGR, Spain</h5>
  <div class="time">2012 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Technician in Computer Systems Administration</h4>
    <h5 class="meta">Institute Zaidin Vergeles, Spain</h5>
    <div class="time">2009 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->
