<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern Talentum Startup &amp; Joinnovation Lab 2016</h3>
                            <div class="time">2016 - 2017 (8th Months)</div>
                        </div><!--//upper-row-->
                        <div class="company">Whitewall Energy and Renewable Solutions SL, Spain</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>This internship allowed me to improve my knowledge about HTML and CSS, besides practicing Javascript and Jquery, since i had no experience by developing web pages to the company.</p>
                        <p>I also learned new programming concepts and get to deal with one of the most popular frameworks like React-Redux.</p>
                    </div><!--//details-->
                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technological Innovation Project</h3>
                            <div class="time">2017</div>
                        </div>
                        <div class="company">Bootcamp Online Python Django y REST</div>
                    </div>
                    <div class="details">
                        <p>Basically a complete project where i learned the basics of Python and Django and how to improve it to a well-built application.</p>
                    </div>
                </div>

            </section><!--//section-->
