<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Talentum Startup Internship</h3>
                            <div class="time">2016 - 2017 (8th)</div>
                        </div><!--//upper-row-->
                        <div class="company">Whitewall Energy and Renewable Solutions SL, Spain</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The internship allowed me to widen my knowledge in web development by implementing from the ground the main portal of the company.</p>
                        <p>In doing so, I got in touch with modern front-end technologies like React and Redux.</p>
                    </div><!--//details-->
                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technological Innovation Project</h3>
                            <div class="time">2017</div>
                        </div>
                        <div class="company">Bootcamp Online Python Django y REST</div>
                    </div>
                    <div class="details">
                        <p>Developed a web application from scratch, using Python and Django.</p>
                    </div>
                </div>

            </section><!--//section-->
