<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>List of some of the projects and repositories i have beeen involved during my engineer and time on my own.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/davidkrdona">Projects at University</a></span> -
                    <span class="project-tagline">Some of my projects and practices in my time at UGR.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Python &amp; Django Application</a></span> -
                    <span class="project-tagline">Repository with the information and code about the aplication made at Pyhton Django and REST bootcamp. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Telegram Bot</a></span> -
                    <span class="project-tagline">Still in progress</span>
                </div><!--//item-->

            </section><!--//section-->
